@import "Colors";

.context-page.chat {
  //display: grid;
  //grid-template-columns: 2fr 8fr;
  display: flex;

  .chat-people-sidebar {
    margin: 1.5rem;
    // border: 1px solid rgba(0,0,0,.1);
    border-radius: 7px;
    width: 20%;
    position: relative;

    .people-list {
      border-radius: 7px;
      height: calc(100% - 110px);
      margin-bottom: 110px;

      .join-code {
        width: calc(100% - 2.4rem);
        padding: 1rem 1.2rem;
        border-radius: 7px;
        position: relative;
        background: rgba(0,0,0,.1);
        margin-top: 1.5rem;

        .title {
          font-weight: 500;
          font-size: .9rem;
          opacity: .8;
        }

        .my-code-container {
          font-size: .8rem;
          margin-top: .2rem;

          .my-code {
            opacity: .7;
            cursor: text;
            margin-left: .1rem;
          }
        }
      }

      .no-people {
        padding: 5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 1.5rem;
        opacity: .8;
      }

      .person {
        transition: 250ms all cubic-bezier(0.0, 0.0, 0.2, 1);
        width: calc(100% - 3rem);
        padding: 1rem 1.2rem;
        display: flex;
        cursor: pointer;
        border-radius: 7px;
        position: relative;
        outline: none;
        margin: 0 .3rem;

        &:hover {
          background: rgba(0,0,0,.08);
          .action-trigger {
            opacity: .85;
          }
        }
        &.active {
          background: #009688;
          color: #FFFFFF;
          box-shadow: 0 10px 13px -6px rgba(0,0,0,.2), 0 21px 33px 3px rgba(0,0,0,.14), 0 8px 40px 7px rgba(0,0,0,.12);
          width: calc(100% - 1rem);
          padding: 1rem 1.5rem;
          margin: 1.8rem 0 1.8rem -.5rem;
        }

        .action-trigger {
          position: absolute;
          top: .5rem;
          right: .2rem;
          opacity: 0;
          transition: 400ms all;
        }

        .person-avatar {
          width: 45px;
          height: 45px;
        }

        .details {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-left: 1rem;

          .username {
            font-size: 1.2rem;
          }
          .about {
            margin-top: .25rem;
            opacity: .85;
            font-size: .85rem;
          }
        }
      }
    }
  }

  .chats-container {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-basis: calc(500px);
    overflow-x: auto;
    margin: 0 1rem;
  }
  .chat-content {
    margin: .5rem;
    border-radius: 13px;
    position: relative;
    background: rgba(0,0,0,.05);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    //max-width: calc(33.33% - 1rem);

    .chat-header {
      border-radius: 13px 13px 0 0;

      .person-username {
        color: #ffffff;
        margin-left: 1rem;
        font-weight: 400 !important;
      }
    }

    .chat-user-drawer {
      position: absolute;
      top: 64px;
      height: 0;
      width: 100%;
      overflow: hidden;
      transition: 400ms all ease;
      display: flex;
      justify-content: center;
      flex-direction: column;

      &.open {
        padding-top: 1.5rem;
        height: calc(21% - 1.5rem);
        background: white;
        z-index: 1000;
        box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
      }

      .actions-container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        margin: 0 1rem;
      }
    }
  }
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.05rem;
  background: #DDD;
  color: #212121;
  font-weight: 300;
  cursor: pointer;

  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.no-active-chat-display {
  display: flex;
  padding-left: 2.5rem;
  background: rgba(0,0,0,.045);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 1rem);
  font-size: 1.3rem;
  font-weight: 700;
  color: rgba(0,0,0,.65);
  border-radius: 13px;
  width: calc(100% - 2.5rem);
  margin-top: 1rem;
}

.conversation-over-notify {
  padding: 1.5rem 1rem;
  font-size: .9rem;
  font-weight: 500;
  color: #e53935;
  text-align: center;
}