$colorPrimary: #09599a;
$colorPrimaryLight: #5185cb;
$colorPrimaryDark: #00316b;
$colorPrimaryContrastText: #ffffff;

$colorSecondary: #e91e63;
$colorSecondaryLight: #ff6090;
$colorSecondaryDark: #b0003a;
$colorSecondaryContrastText: #ffffff;