$colorPrimary: #09599a;
$colorPrimaryLight: #5185cb;
$colorPrimaryDark: #00316b;
$colorPrimaryContrastText: #ffffff;

$colorSecondary: #94013F;
$colorSecondaryLight: #c94469;
$colorSecondaryDark: #600019;
$colorSecondaryContrastText: #ffffff;