$colorPrimary: #09599a;
$colorPrimaryLight: #5185cb;
$colorPrimaryDark: #00316b;
$colorPrimaryContrastText: #ffffff;

$colorSecondary: #eb5a00;
$colorSecondaryLight: #ef7b33;
$colorSecondaryDark: #a43e00;
$colorSecondaryContrastText: #ffffff;