.conversation {
  width: 100%;
  flex-grow: 1;
  height: 90%;

  overflow: auto;

  .message-group {
    margin: 1rem 0;
    padding: 0 1rem;

    .message {
      width: 100%;
      display: flex;
      margin-top: .05rem;

      .message-sender-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .message-content {
        max-width: 60%;
        background: rgba(0,0,0,.1);
        padding: .85rem .6rem;
        margin-left: 1rem;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: .9rem;
      }

      .blank-sender-avatar {
        width: 38px;
        height: 38px;
      }

      &:first-child {
        .message-content {
          border-radius: 15px 15px 15px 0;
        }
      }

      &:last-child {
        .message-content {
          border-radius: 0 15px 15px 15px;
        }
      }

      .message-button-container {
        display: flex;
        align-items: center;
      }

      .message-menu-button {
        opacity: 0;
        width: 36px;
        height: 36px;
        transition: 400ms all ease;
      }

      &:hover {
        .message-menu-button {
          display: block;
          margin-left: .8rem;
          opacity: 1;
        }
      }
    }

    &.mine {
      .message {
        flex-direction: row-reverse;

        .message-content {
          margin-left: 0;
          margin-right: 1rem;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }

        &:first-child {
           .message-content {
             border-top-left-radius: 15px;
             border-top-right-radius: 15px;
           }
         }

        &:last-child {
          .message-content {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }

        &:hover {
          .message-menu-button {
            display: block;
            margin-left: 0;
            margin-right: .8rem;
          }
        }
      }
    }
  }
}
