@import "Colors";
.conversation {
  width: 100%;
  flex-grow: 1;
  height: 90%;

  overflow: auto;

  .empty-conversation {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.01);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    color: rgba(255,255,255,.8);
    font-size: 1.3rem;
  }

  .message-group {
    margin: 1rem 0;
    padding: 0 1rem;

    .message {
      width: 100%;
      display: flex;
      margin-top: .07rem;
      transition: 200ms all ease;

      .message-sender-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .message-content {
        max-width: 60%;
        background: rgba(255,255,255,.1);
        padding: .85rem .6rem;
        margin-left: 1rem;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: .9rem;
        word-break: break-all;

        &.image-message {
          width: 50%;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          padding: 0;

          .image {
            width: 100%;
            height: 300px;
            background-size: cover;
            border-radius: 15px;
          }

          .content {
            padding: .85rem .6rem;
          }
        }
      }

      .blank-sender-avatar {
        width: 38px;
        height: 38px;
      }

      &:first-child {
        .message-content {
          border-radius: 15px 15px 15px 0;
        }
      }

      &:last-child {
        .message-content {
          border-radius: 0 15px 15px 15px;
        }
      }

      .message-button-container {
        display: flex;
        align-items: center;
      }

      .message-menu-button {
        opacity: 0;
        width: 36px;
        height: 36px;
        transition: 80ms all ease;
      }

      &:hover {
        .message-menu-button {
          display: block;
          margin-left: .8rem;
          opacity: 1;
        }
      }
    }

    &.mine {
      .message {
        flex-direction: row-reverse;

        .message-content {
          margin-left: 0;
          margin-right: 1rem;
          border-radius: 15px 0 0 15px;
        }

        &:first-child {
           .message-content {
             border-radius: 15px 15px 0 15px;
           }
         }

        &:last-child {
          .message-content {
            border-radius: 15px 0 15px 15px;
          }
        }

        &:hover {
          .message-menu-button {
            display: block;
            margin-left: 0;
            margin-right: .8rem;
          }
        }
      }
    }
  }
}
