@import "Colors";

.context-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background: #121212;
  color: #ffffff;

  &.enter {
    animation-fill-mode: forwards;
    animation-name: context-page-enter;
    animation-duration: 700ms;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  }
}

@keyframes context-page-enter {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}