@import "Colors";

.register-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1600;

  background: #00316b;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: url("../../Resources/Images/materialistic.jpg");
  background-size: cover;

  .register-form {
    width: 60%;
    height: 392px;
    display: flex;
    background: #333;
    border-radius: 15px;

    .column {
      display: flex;
      flex-direction: column;
      width: 50%;

      &:first-child {
        border-radius: 15px 0 0 15px;
      }
      &:last-child {
        border-radius: 0 15px 15px 0;
      }

      &.form {
        background: #212121;
        color: #FFF;
      }
      &.about {
        background: #ee0979;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        .title {
          font-size: 3.2rem;
        }

        .app-about {
          padding: 0 1.5rem;
          opacity: .85;
        }
      }
    }

    .title {
      font-size: 1.8rem;
      padding-left: 2rem;
      opacity: .7;
      font-weight: 700;
      margin: 1.5rem 0;
    }

    .input-container {
      margin: 0 1.2rem;
    }

    .button-container {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 1.5rem;
    }
  }
}

.register-input {
  border-radius: 40px !important;
  padding: .5rem 1.5rem;
  display: flex;
  flex-direction: column;
  transition: 200ms all cubic-bezier(0.0, 0.0, 0.2, 1);
  cursor: text;
  margin: .7rem 0;
  background: rgba(255,255,255,.2) !important;

  &.not-focused {
    box-shadow: none !important;
  }

  .label-container {
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: .7;
    text-transform: uppercase;
    margin: 0 0 .25rem calc(1em + 1rem);
  }

  .input-container {
    display: flex;
    margin: 0 !important;

    .icon-container {
      color: $colorSecondary;
      font-size: 1.5rem;
      margin-top: .5rem;
    }

    .input {
      border: none;
      flex-grow: 1;
      outline: none;
      font-family: inherit;
      font-size: .9rem;
      margin-left: .5rem;
      resize: none;
      background: transparent;
      color: #FFF;

      &.long {
        padding: .2rem 0;
      }
    }
  }
}